# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars